.vscode
linux/hl_cdll_map.txt
linux/release
build
compile_commands.json
thirdparty

/.vs/
build/
build_*/
build_overlay/
*.log
*.obj
*.exe
*.pdb
*.lib
*.exp
cmake_install.cmake
CMakeCache.txt
/.idea/
*.user
*.suo
*.vcxproj.user
*.VC.db
/.vscode/
/*.vcxproj.filters
